<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.friends.mapper.extend.LbXmMapper">

    <select id="selectLbXm" resultMap="LbXmResultMap">
        SELECT
            cu.id  id,
            cu.`code`  code,
            cu.`name`  name,
            ca.id ca_id,
            ca.parent ca_parent,
            ca.code ca_code,
            ca.name ca_name,
            ca.price ca_price,
            ca.unit ca_unit,
            ca.sold ca_sold,
            ca.fwqx ca_fwqx,
            ca.fwxz ca_fwxz,
            ca.fwxj ca_fwxj,
            ca.fwbz ca_fwbz,
            ca.pic_path,
            ca.pic_type,
            ca.pic_path,
            ca.pic_type
        FROM
          t_lb cu
        LEFT JOIN t_lb_item ca ON cu. CODE = ca. parent
        <if test="code != null">
            where cu.code = #{code}
        </if>

    </select>
    <resultMap id="LbXmResultMap"
               extends="com.my.friends.mapper.LbMapper.BaseResultMap"
               type="com.my.friends.dao.extend.LbXm">
        <!--<association property="lbItem" ofType="com.my.friends.dao.LbItem" javaType="ArrayList">-->
        <collection property="lbItem" javaType="List" ofType="com.my.friends.dao.LbItem">
            <result column="ca_id" property="id"/>
            <result column="ca_parent" property="parent"/>
            <result column="ca_code" property="code"/>
            <result column="ca_name" property="name"/>
            <result column="ca_price" property="price"/>
            <result column="ca_unit" property="unit"/>
            <result column="ca_sold" property="sold"/>
            <result column="ca_fwqx" property="fwqx"/>
            <result column="ca_fwxz" property="fwxz"/>
            <result column="ca_fwxj" property="fwxj"/>
            <result column="ca_fwbz" property="fwbz"/>
            <result column="pic_name" jdbcType="VARCHAR" property="picName" />
            <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
            <result column="pic_type" jdbcType="VARCHAR" property="picType" />
            <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
            <result column="pic_type" jdbcType="VARCHAR" property="picType" />
        </collection >
    </resultMap>
</mapper>